#grid
{
	display: grid;
	grid-template-columns:150px 200px 100px;
	grid-template-rows:auto;
	grid-template-areas:
	"box1 box1 box1"
	"box2 box2 box3"
    "box4 box4 box3"
    "box4 box4 box3";

}

#box1
{
	background-color:aqua;
	grid-area:box1;
}

#box2
{
	background-color:blueviolet;
	grid-area:box2;
}


#box3
{
	background-color:cornflowerblue;
	grid-area:box3;
}

#box4
{background-color:darkgrey;
	grid-area:box4;
}



@media only screen and (min-width:800px)
{

{
	display: grid;
	grid-template-columns:25% 25% 25% 25%;
	grid-template-rows:auto;
	grid-template-areas:
	"box1 box1 box1 box1"
	"box2 box2 .    .   "
    "box4 box4 box3 box3"
    "box4 box4 box3 box3";

}

@media only screen and (min-width:1241px)
{

{
	display: grid;
	grid-template-columns:145px 145px 145px 145px 145px 145px 145px 145px;
	grid-template-rows:100px 100px 100px 100px 100px 100px;
	grid-template-areas:
	"box1 box1 box1 box1 box1 box1"
	"box2 box2 .    .    .    ."
    "box4 box4 box3 box3 box3 box3"
    "box4 box4 box3 box3 box3 box3";

}


}