#grid
{
	display: grid;
	grid-template-columns:150px 200px 100px;
	grid-template-rows:auto;
	grid-template-areas:
	"box1 box1 box1"
	"box2 box2 box3"
    "box4 box4 box3"
    "box4 box4 box3";

}

#box1
{
	background-color: aqua;
	grid-area:box1;
}

#box2
{
	background-color: blueviolet;
	grid-area:box2;
}


#box3
{
	background-color: cornflowerblue;
	grid-area:box3;
}

#box4
{background-color: darkgrey;
	grid-area:box4;
}